@page "/"
@inherits _Index

<h1>Hello, world!</h1>

<Root>
    <ColumnsLayout>
        <GroupBox Label="Identity">
            <ColumnsLayout>
                <RowsLayout>
                    <TextBox bind-Value="@MyModel.Username" />
                    <TextBox bind-Value="@MyModel.Email" />
                </RowsLayout>
                <RowsLayout>
                    <TextBox bind-Value="@MyModel.FirstName" />
                    <TextBox bind-Value="@MyModel.LastName" />
                    @*<TextBox bind-Value="MyModel.DOB" />*@
                </RowsLayout>
            </ColumnsLayout>
        </GroupBox>
        <GroupBox Label="Animals">
            <ColumnsLayout>
                <RowsLayout>
                    <TextBox />
                    <TextBox />
                </RowsLayout>
                <RowsLayout>
                    <CheckBox bind-Value="@MyModel.HasFish" />
                    <CheckBox bind-Value="@HasExoticFishComputed" />
                </RowsLayout>
            </ColumnsLayout>
        </GroupBox>
    </ColumnsLayout>
</Root>

<div>
    <div>Model:</div>
    <pre>@ModelAsJson</pre>
</div>

@functions
{
    bool HasExoticFishComputed
    {
        get => !MyModel.HasFish ? false : (MyModel.HasExoticFish ?? false);
        set
        {
            if (MyModel.HasFish)
                MyModel.HasExoticFish = value;
            else
                MyModel.HasExoticFish = null;
        }
    }
}